body
{
    background-image: url(./Background/Amaz.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
    
}
h2
{
    position: absolute;
    font-family: 'Play', sans-serif;
    font-size: 9em;
    color:antiquewhite;
    margin-top: 05%;
    margin-left: 1%;
    outline: none;
    animation: animate 5s linear infinite
}
@keyframes animate 
{
    0%
    {
        color: black;
        box-shadow: none;
    
    }
    100%
    {
        color: #fff
        box-shadow: none;
        
    }
}



h3
{
    position:absolute;
    top: 80%;
    left: 2%;
    font-size: 4em;
    font-family: 'Play', sans-serif;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke:0.1vw #01fe87;
    width: 95%;
    
}
h3::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    background: #01fe87;
    -webkit-background-clip: text;
    color: transparent;
    animation: type 10s linear infinite;
}
@keyframes type
{
    0%
    {
        width: 0;
    }
    70%
    {
        width: 100%;
    }
    90%
    {
        width: 100%;
    }
    100%
    {
        width: 0;
    }

}

.highlight-word-color{
    color: #fa3737;
    outline: #ff2f21;
    animation: animate 5s linear infinite
}
h1
{
    position:absolute;
    text-align: left;
    font-family: 'Spartan', sans-serif;
    font-size: 1.5em;
    letter-spacing: 3px;
    color: #fff;
    width: 95%;
    top: 105%;
    left: 2%;
    outline: none;
    
    
}


header
{
    position: absolute;
    font-family: 'Spartan', sans-serif;
    top: 0;
    left: 0;
    width: 500%
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: :right;
    


}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style:circle;
    margin-right: 20px
}
header ul li a
{
    text-decoration: : none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;

}
header ul li a:hover
{
    background: #01fe87;
    color: #fff;
}
